@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: inherit;
    line-height: 1.5;
}

body {
    font-size: 16px;
}

hr {
    margin: 2em 0;
    border: 1px solid #EEE;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 1em;
    margin-bottom: .5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

select {
    height: 1.5em;
    background-color: transparent;
}

.button-wrapper {
    margin: 1em 0;
    padding-left: 4em;
}

button {
    padding: 0 1em;
    text-align: center;
    background-color: #EEE;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #CCC;
}

textarea {
    width: 100%;
    padding: .5em;
    border: 1px solid #CCC;
}

body {
    margin: 10px auto;
    padding: 10px;
}

/* ----------------------------------------------------------
  form
---------------------------------------------------------- */

form {
    margin: 2em 0;
    padding: 1em;
    background-color: #F0F0F0;
}

form ul {
    display: flex;
    flex: 1;
    flex-direction: row;
}

form li {
    flex: 1;
    list-style-type: none;
}

input[type="number"] {
    display: block;
    border: 1px solid;
}

/* ----------------------------------------------------------
  Grid wrap
---------------------------------------------------------- */

.grid-wrapper {
    margin: 0 auto;
    max-width: var(--grid-size-1);
}

.grid-inner {
    margin: 0 calc(var(--grid-gut-width) * -0.5) var(--grid-gut-width);
}

.grid-wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.grid-item {
    display: table-cell;
    padding: 0 calc(var(--grid-gut-width) * 0.5);
    vertical-align: top;
}

.grid-item .placehold {
    padding: 1em;
    text-align: center;
    font-weight: bold;
    background-color: #CCC;
}
